<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="uz.ox.plugins.rfid.BaseApplication"
        android:allowBackup="true">
        <!-- Библиотечный модуль НЕ должен объявлять свою LAUNCHER-активити:
             у приложения появлялись две точки входа, и система запускала
             uz.ox.plugins.rfid.MainActivity вместо uz.ox.app.MainActivity
             (без FirebaseAvailabilityPlugin). RFIDPlugin регистрируется
             Capacitor'ом автоматически по capacitor.plugins.json. -->
    </application>
</manifest>
